.postItem{
  margin-bottom: 18px;
  padding: 18px  18px;
  background-color: white ;
  span {
    display: block;
  }
  .username{
    color: #007bff;
    margin-bottom: 4px;
    font-weight: bold;
  }
  .postTitle{
    font-size: 0.9em;
    margin-bottom: 6px;
  }
  .postAccions{
    text-align: right;
  }
  .postComments{
    font-size: 0.7em;
    font-style: italic;
    text-align: right;
    background-color: transparent ;
    padding: 0 ;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .box-postComments{
      margin-top: 8px;
    background-color: #F5F5F5;
    max-height: 185px;
    overflow-y: auto ;
    ul{
      margin: 0;
      padding: 0 ;
      list-style: none ;
      li{
        padding: 8px 20px;
        border-top: 1px solid #e1d9d9 ;
        .userEmail{
          font-size: 0.8em ;
          font-weight: bold ;
        }
        .commentName{
          color: #007bff;
          font-size: 0.8em ;
        }
        .commentBody{
          font-size: 0.7em;
          font-style: italic;
        }
      }
    }
  }
}

body{
  background-color: #F5F5F5;
}
.loader{
  margin-top: 25px;
  color: #007bff;
  display: none ;
}
